.order {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.order:hover {
  background-color: #60ade1;
  color: white;
}
.order-operation {
  cursor: pointer;
}
.order-field {
  font-size: 1rem;
}
