.order-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #60ade1;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
