.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
}

.cart-img-component {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-icon {
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
}

.cart-count-component {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.cart-items {
  list-style: none;
  overflow-y: scroll;
  padding: 0px 20px;
}

.cart-item {
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.item-head-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-button-components {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-button-components button {
  padding: 2px 15px;
  font-size: 1.8rem;
  border-radius: 10px;
  background-color: rgb(185, 125, 240);
  color: white;
  border: none;
  cursor: pointer;
}
